@media(max-width: 400px) {
    .imagem-projeto {
        margin: auto;
        display: block;
        min-width: 180px;
        max-width: 250px;
        border-radius: 10px;
    }

    a.menus-voltar {
        font-size: 0.6em;
    }

    main {
        max-width: 350px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .conteiner-imagem {
        display: block;
        margin: auto;
    }
}

@media(max-width: 325px) {
    .imagem-projeto {
        min-width: 180px;
        max-width: 200px;
        border-radius: 10px;
    }
    .conteiner-imagem {
        display: block;
        margin: auto;
    }
    a.menus-voltar {
        font-size: 0.6em;
    }

    main {
        max-width: 300px;
    }
}

/* medias para reponsividade em dispositivos pequenos. Adicionando margem na main para ficar parecido com o design de desktop e diminuição de letras e imagens para adptar a telas pequenas */